{% extends 'court_cases/base.html' %}

{% block content %}
  <h1>Список дел</h1>
  <table>
    <thead>
      <tr>
        <th>Номер дела</th>
        <th>Название дела</th>
        <th>Дата создания</th>
        <th>Дата обновления</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for case in cases %}
        <tr>
          <td>{{ case.case_number }}</td>
          <td>{{ case.title }}</td>
          <td>{{ case.created_at }}</td>
          <td>{{ case.updated_at }}</td>
          <td><a href="{% url 'case_list' %}">Просмотреть</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Список дел пуст.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'case_new' %}">Создать новое дело</a>
{% endblock %}
